<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- jquery and bootstrap -->
    <script src='./js/jquery.min.js'></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Custom styles for this template -->
    <link href="./css/index.css" rel="stylesheet">
    <link href="./css/login.css" rel="stylesheet">
    <script>
      $(document).ready(function({
        


      })
    </script>
  </head>

  <body>
 <%
        var isIndex=(title=='index'?'active':''),
            isLogin=(title=='login'?'active':''),
            isPosts=(title=='isPosts'?'active':'')

 %>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
         <!-- active -->
          <a class="blog-nav-item <%- isIndex %>" href="/">index</a>
          <a class="blog-nav-item <%- isLogin %>" href="/login">login</a>
          <a class="blog-nav-item <%- isPosts%>" href="/posts">Posts</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">About</a>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>
      <div class="row">

        <div class="col-sm-8 blog-main">